
<div class="layout-row align-items-center justify-content-center mt-50">

  <section class="layout-column align-items-center justify-content-between">
    <span class="input layout-row">
        <input type="number" class="large"
        data-test-id="app-input1" [ngModel]="fromMeasure" (ngModelChange)="fromMeasure=$event"/>
        <label class="suffix"
               data-test-id="app-label1">{{lengthOptions[selectedOptionFrom]?.unit}}</label>
    </span>
    <select data-test-id="app-select1"
            [(ngModel)]="selectedOptionFrom">
      <option *ngFor="let option of lengthOptions; let i = index"
              [attr.selected]="i == 0"
              [value]="option.id">{{option.label}}</option>
    </select>
  </section>

  <label>⇋</label>

  <section class="layout-column align-items-center justify-content-between">
      <span class="input layout-row">
          <input type="number" class="large"
          data-test-id="app-input2"[ngModel]="toMeasure" (ngModelChange)="toMeasure=$event"/>
          <label class="suffix"
                 data-test-id="app-label2">{{lengthOptions[selectedOptionTo]?.unit}}</label>
      </span>
          <select data-test-id="app-select2"
                  [(ngModel)]="selectedOptionTo">
            <option *ngFor="let option of lengthOptions; let i = index"
                    [attr.selected]="i == 1"
                    [value]="option.id">{{option.label}}</option>
          </select>
    </section>
</div>
